body {
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}

.container-layout-content{
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.opacity {
	transition: opacity 0.2s ease-in-out;
	&:hover {
		opacity: 0.5;
	}

	&:active {
		opacity: 0.8;
	}
}

.effect {
	transition: all 1s;
}
